.panel {
    margin-left: 150px;
}

.all {
    background: white;
    border-radius: 30px;
    margin: 18px 30px;
}

.dropdown-toggle {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 18px;
    margin: 18px 40px;
    box-shadow: 0px 2px 7px #bababa;
    float: right;
}

.panel-body {
    padding: 11px 50px;
}

th {
    padding: 18px;
    color: #a3abb5;
}

.user-btn {
    background: #f5f1ff;
    padding: 10px 13px;
    border-radius: 5px;
    margin: 0px 10px;
    color: #876bf3;
    font-size: 15px;
}

.user-btn:hover {
    background: #e4daff;
    color: #380ce0;
}

.disabled {
    background: #eff0ef !important;
    color: #b4b4b4 !important;
}

.disabled:hover {
    background: #dedede !important;
    color: #666363 !important;
}